---
layout: default
---

<nav id='sidebar'>
	{% include nav.html %}
</nav>

<section id='content'>
  <p>
    Welcome to the Screendoor API documentation. This is a pre-release API, so be aware that it's
    subject to change at any time. That said, we welcome any questions, comments, or feedback.
    For now, just send an email to <a href='mailto:support@dobt.co'>support@dobt.co</a> if you'd
    like to get in touch.
  </p>

  <a class='control hide'>Hide all</a>
  <a class='control show'>Show all</a>

  {% for post in site.posts %}
    {% if post.category == null %}
      {% include post.html %}
    {% endif %}
  {% endfor %}

  {% for category in site.categories %}
    {% for posts in category %}
      {% for post in posts %}
        {% if post.title %}
          {% include post.html %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  {% endfor %}
</section>
