# Projects

## List a site's projects

You can see a list of the projects belonging to a specific site.

```shell
curl "https://screendoor.dobt.co/api/sites/1/projects?v=0&api_key=d9763djh1274"

# Example Response
[
<%= partial 'resources/project.json' %>]
```

### HTTP Request
`GET /sites/:site_id/projects`

## Create a project

Creates a new project.

```shell
curl "https://screendoor.dobt.co/api/sites/1/projects?v=0&api_key=d9763djh1274" \
  -H 'Content-Type: application/json' \
  -X POST \
  -d '
{
  "name": "Hiring by email",
  "description": "<p>The description can include HTML!</p>"
}
'

# Example Response
<%= partial 'resources/project.json' %>
```

### HTTP Request

`POST /sites/:site_id/projects`

## Retrieve a single project

Retrieves the details of a specified project.

```shell
curl "https://screendoor.dobt.co/api/sites/1/projects/1?v=0&api_key=d9763djh1274"

# Example Response
<%= partial 'resources/project.json' %>
```

### HTTP Request
`GET /sites/:site_id/projects/:project_id`

## Update a project

Updates the specified project by assigning values to the keys of the `Project` hash. The values of any keys you do not provide will be left unchanged.

```shell
curl "https://screendoor.dobt.co/api/sites/1/projects/1?v=0&api_key=d9763djh1274" \
  -H 'Content-Type: application/json' \
  -X PUT \
  -d '
{
  "name": "Hiring by email",
  "description": "<p>The description can include HTML!</p>"
}
'

# Example Response
<%= partial 'resources/project.json' %>
```

### HTTP Request

`PUT /sites/:site_id/projects/:project_id`

## Delete a project

Deletes a project.

```shell
curl "https://screendoor.dobt.co/api/sites/1/projects/1?v=0&api_key=d9763djh1274" \
  -H 'Content-Type: application/json' \
  -X DELETE

# Example Response
Status: 204 No Content
```

### HTTP Request

`DELETE /sites/:site_id/projects/:project_id`
